<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <h1>Full Menu</h1>
  <% menu.forEach((item) => { %>
    <li>Item:<%=item.name %></li>
  <li>Price: <%= item.price %></li>
 <li> Rating:<%= item.rating %></li> <li>Details:<%= item.details %> </li>
    <% }) %>
</body>
</html>

